function indexOf(arr, value) {
  return arr.indexOf(value)
}

function sliceOf(str) {
  if (str.indexOf('(') != -1) {
    return str.slice(str.indexOf('(') + 1, str.indexOf(')'))
  } else if (str.indexOf('（') != -1) {
    return str.slice(str.indexOf('（') + 1, str.indexOf('）'))
  } else {
    return str
  }
}
module.exports = {
  indexOf : indexOf,
  sliceOf : sliceOf
}